h2 Welcome to the elephant
p This is version 0.0.0alpha

h3 Activity
== partial 'partials/generic_table', :locals => {:rows => @rows, :fields => %w(datname client_addr query_start waiting current_query)}
