<%
   info = get_stats('activity')
   fields = %w(act_user act_app act_c_addr act_q_start act_state act_qry)
%>
<h3>Activity</h3>
<%= partial "partials/field_table", locals: {data: info, :fields => fields} %>
