<%
  info = get_stats("user_indexes")
%>
<h3>Indices</h3>
<%= partial 'partials/generic_table', :locals => {:data => info} %>

<!--
<pre style="white-space: pre-line">
  <%= info.inspect %>
</pre>
-->

