h2 Welcome to the elephant
p This is version 0.0.0alpha

h3 Indices
== partial 'partials/generic_table', :locals => {:rows => @rows, :fields => %w(relname indexrelname idx_scan idx_tup_read idx_tup_fetch)}
