<%
   summary = get_stats('size')[0]
   info = get_stats('top_sizes')
%>
<h3>Top 20 <small><%= "of total #{summary["dbsize"]}"  %></small></h3>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Kind</th>
    <th>Size</th>
  </tr>
  </thead>
  <tbody>
  <% info.each do |row| %>
    <tr>
      <td><%= row["name"] %></td>
      <td><%= t(row["kind"], scope: "db.kind") %></td>
      <td><%= row["size"] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
