<%
   size = get_stats('size')[0]
   info = get_stats('summary')[0]
%>
<h4>Summary</h4>
<dl>
  <% size.each do |data, value| %>
    <dt><%= t(data, scope: "db") %></dt>
    <dd><%= value %></dd>
  <% end %>
</dl>

<dl>
  <% info.each do |data, value| %>
    <dt><%= t(data, scope: "db") %></dt>
    <dd><%= value %></dd>
  <% end %>
</dl>
