<table>
  <thead>
  <tr>
    <% fields.each do |field| %>
      <th><%= field %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% rows.each do |row| %>
    <tr>
      <% fields.each do |field| %>
        <td><%= row[field] %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
