<table>
  <thead>
  <tr>
    <% fields.each do |field| %>
      <th class="<%= css_for(field) %>"><%= field %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% data.each do |row| %>
    <tr>
      <% fields.each do |field| %>
        <td class="<%= css_for(field) %>"><%= row[field] %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
