<table>
  <thead>
  <tr>
    <% if data.empty? %>
      <th>Empty results!</th>
    <% else %>
      <% fields = data[0].keys  %>
      <% fields.each do |field| %>
        <th class="<%= css_for(field) %>"><%= field %></th>
      <% end %>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% data.each do |row| %>
    <tr>
      <% fields.each do |field| %>
        <td class="<%= css_for(field) %>"><%= row[field] %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
